<section id="product-page">
    <h1 class="text-uppercase text-center mb-50">All Cars</h1>

    <div class="products-wrapper">
        <div class="left-content">
            <aside>
                <div class="item">
                    <view-mode-button [viewMode]="viewMode" (view)="updateView($event)">
                    </view-mode-button>
                </div>

                <div class="item">
                    <input type="text" placeholder="Search cars" class="inputs" (input)="searchCar($event)">
                </div>

                <div class="item input-range">
                    Min: <span>{{ minValue | currency: '$' }}</span> <br>
                    <input type="range" [min]="minPrice" [max]="maxPrice" [value]="minValue" name="price-filter" class="price-filter" #minInput
                        (change)="updateMinPrice(minInput)">
                    <br>
                    <ng-container *ngIf="!isMinGreaterThanMax">
                        Max: <span>{{ maxValue | currency: '$' }}</span> <br>
                        <input type="range" [min]="minPrice" [max]="maxPrice" [value]="maxValue" name="price-filter" class="price-filter"
                            (change)="updateMaxPrice($event)">
                    </ng-container>
                    <br>
                    <button class="btn-blue" (click)="resetFilter()">Reset</button>
                </div>

                <div class="item d-flex flex-wrap" *ngIf="allManufacturer && allManufacturer.length > 0;">
                    <span 
                        class="btn-blue mb-10 mr-10"
                        (click)="resetCars()"
                    >
                        All
                    </span>
                    <span 
                        class="btn-blue mb-10 mr-10"
                        *ngFor="let manufacturer of allManufacturer;" 
                        (click)="filterByManufacturer($event)"
                    >
                        {{ manufacturer }}
                    </span>
                </div>
            </aside>
        </div>

        <div class="products" [ngSwitch]="viewMode" [class]="viewMode == 'grid' ? 'products' : 'listView'" *ngIf="allCars && allCars.length > 0; else elseNoCar">
            <div *ngFor="let car of allCars; let i=index" class="product-item">
                <!-- <img src="image/product1.jpg" alt=""> -->

                <div [ngClass]="'product' + i + ' bg-img'"></div>

                <div class="product-description">
                    <div class="product-title">
                        <h3 class="weight-400 text-capitalize">{{ car.name }}</h3>
                        <span class="price">{{ car.price | currency: 'USD' }}</span>
                    </div>
                    <p>{{ car.description }}</p>

                    <a class="button" [routerLink]="[ '/products', car.link]">View product</a>
                </div>
            </div>
        </div>
        
        <ng-template #elseNoCar>
            <div class="errorMessage">
                <h3>No car matches your search!</h3>
            </div>
        </ng-template>
    </div>
</section>