.hero-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
  height: 350px;
  padding: 80px 50px 70px;
  margin-top: 60px;
  border-radius: 20px;
  overflow: hidden;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.hero-container .content {
  max-width: 430px;
  padding: 20px;
}

.hero-container .content h1 {
  margin-bottom: 30px;
}
.hero-container .content span {
  color: var(--customGreen);
  font-weight: 400;
}
.hero-container .content p {
  font-size: 16px;
  color: var(--customTextColor);
}

.hero-container .image {
  width: 450px;
  padding-left: 10px;
  padding-right: 10px;
}

.hero-container .image img {
  transform: rotate(-4deg);
}

/* .hero-container .image img.car2 {
  transform: rotate(0);
} */

@media screen and (max-width: 769px) {
  .hero-container .content {
    max-width: 340px;
  }

  .hero-container .content h1 {
    font-size: 1.875rem;
  }

  .hero-container .image {
    width: 320px;
  }
}

@media screen and (max-width: 660px) {
  .hero-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-container .content {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    order: 2;
  }

  .hero-container .content h1 {
    font-size: 1.5rem;
  }

  .hero-container .content p {
    display: none;
  }

  .hero-container .image {
    margin-bottom: 20px;
    order: 1;
  }
}

@media screen and (max-width: 376px) {
  .hero-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .hero-container .image {
    width: 280px;
  }
}

@media screen and (max-width: 321px) {
  .hero-container .content h1 {
    font-size: 1.375rem;
  }

  .hero-container .image {
    width: 260px;
  }
}
