@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

:root {
  --customWhite: #f4f4f4;
  --customBlack: #333;
  --lightGray: #e2e2e2;
  --customGreen: rgb(144, 194, 43);
  --customBlue: rgb(12, 117, 158);
  --customBlueDark: rgb(12, 102, 138);
  --customTextColor: #737373;
  --customOverlay: linear-gradient(
    to bottom right,
    rgba(14, 28, 34, 0.7),
    rgba(14, 28, 34, 0.75),
    rgba(14, 28, 34, 0.775)
  );
  --fontMontserrat: "Montserrat", sans-serif;
  --fontLato: "lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.scroll_into_view_fix {
  scroll-margin-top: 80px;
}

*,
body {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: var(--customWhite);
  overflow-x: hidden;
  font-family: var(--fontLato);
  color: var(--customBlack);
}

::selection {
  background-color: var(--customBlue);
  color: var(--customWhite);
}
::-moz-selection {
  background-color: var(--customBlue);
  color: var(--customWhite);
}

.section-padd {
  padding-top: 100px;
  padding-bottom: 100px;
}

.padd-lr-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.pt-0 {
  padding-top: 0;
}

.pt-100 {
  padding-top: 100px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-150 {
  padding-top: 150px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-150 {
  padding-bottom: 150px;
}

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mr-10 {
  margin-right: 10px;
}

a {
  text-decoration: none;
}

a,
button,
.btn-blue,
.product-item,
#hero .image img,
.bg-img,
form #email {
  -o-transition: 0.35s ease;
  -moz-transition: 0.35s ease;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}

#submit {
  cursor: pointer;
}

p {
  margin-bottom: 20px;
}

input,
.nav-link,
footer,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontMontserrat);
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

#wrapper {
  max-width: 1200px;
  margin: auto;
  overflow-x: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main_title {
  position: relative;
}

.main_title::after,
.main_title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 45px;
  height: 1px;
  background: #000;
  margin-left: auto;
  margin-right: auto;
}

.main_title::before {
  transform: translateX(-25px);
}

.main_title::after {
  transform: translateX(25px);
}

.inputs {
  font-size: 13px;
  padding: 0.65rem 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
}

.view_all_button {
  text-align: center;
  margin-top: 70px;
}

.btn-blue,
.view_all_button a {
  padding: 0.5rem 1rem;
  min-width: 120px;
  min-height: 38px;
  font-size: 15px;
  background: var(--customBlue);
  color: #fff;
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0.5rem 0.5rem 1.75rem rgb(0 0 0 / 15%);
  border-radius: 5px;
}

.btn-blue {
  min-width: initial;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.btn-blue:hover {
  opacity: 0.8;
}

.view_all_button a:hover {
  box-shadow: none;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

@media screen and (max-width: 660px) {
  h1 {
    font-size: 1.875rem;
  }
}
