<main>
    <hero></hero>

    <section id="about" class="section-padd padd-lr-40">
        <h1 class="mb-20">Best Quality Cars</h1>
        <p>
            Amazon Cars offers unique and best quality products.
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>

        <form id="form">
            <div class="form-group">
                <input type="email" name="email" id="email" class="inputs" placeholder="Enter your email" required>

                <input type="submit" value="Get Started" id="submit">
            </div>

            <!-- <div class="form-group">
                <input type="submit" value="Get Started" id="submit">
            </div> -->
        </form>
    </section>

    <section id="howItWorks" class="section-padd">
        <div class="content">
            <h1 class="weight-300">How It Works</h1>
            <p>
                One Product, Multiple Gains
            </p>
            <ul>
                <li>Best Performance</li>
                <li>Highly Durable</li>
                <li>Slick design</li>
                <li>Maximum Security</li>
            </ul>
        </div>

        <div class="video-container">
            <iframe width="500" height="300" id="video" src="https://www.youtube.com/embed/mAIjAnIS0KU"
                title="Live Demo, YouTube" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </section>

    <section id="products" class="section-padd padd-lr-40">
        <h1 class="main_title text-center mb-40">Luxury Cars</h1>

        <view-mode-button [viewMode]="viewMode" (view)="updateView($event)"></view-mode-button>

        <!-- <div class="change_view_buttons">
            <div class="buttons">
                <button [class.active]="viewMode == 'grid'" (click)="viewMode = 'grid'">
                    Grid
                </button>
                <button [class.active]="viewMode == 'list'" (click)="viewMode = 'list'">
                    List
                </button>
            </div>
        </div> -->

        <div class="products mt-30" [ngSwitch]="viewMode" [class]="viewMode == 'grid' ? 'products' : 'listView'">
            <div *ngFor="let car of allCars; let i=index" class="product-item">
                <!-- <img src="image/product1.jpg" alt=""> -->

                <div [ngClass]="'product' + i + ' bg-img'"></div>

                <div class="product-description">
                    <div class="product-title">
                        <h3 class="weight-400 text-capitalize">{{ car.name }}</h3>
                        <span class="price">{{ car.price | currency: 'USD' }}</span>
                    </div>
                    <p>{{ car.description }}</p>

                    <a class="button" [routerLink]="[ '/products', car.link]">View product</a>
                </div>
            </div>
        </div>

        <div class="view_all_button">
            <a [routerLink]="[ '/products' ]">View All Cars</a>
        </div>
    </section>
</main>